/* Home.css */
@import url('./font.css');

.site_frame {
  display: grid;
  grid-template-areas:
    'top-left top-right'
    'bottom-left bottom-right';
  height: 100vh;
  gap: 70vh;
  position: relative;
}

.top-left,
.bottom-left,
.top-right,
.bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site_words {
  font-family: 'Brulia', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.05vw;
  -webkit-text-stroke: 0.5px white;
  color: rgba(0, 0, 0, 0);
}

.top-left {
  grid-area: top-left;
  justify-content: flex-start;
  display: flex;
  margin-left: 2vw;
}

.moura_word {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  position: absolute;
  left: 5vw;
  top: 10vh;
}

.top-right {
  grid-area: top-right;
  justify-content: flex-end;
  margin-right: 2vw;
}

.bottom-left {
  grid-area: bottom-left;
  justify-content: flex-start;
  margin-left: 2vw;
}

.bottom-right {
  grid-area: bottom-right;
  justify-content: flex-end;
  margin-right: 2vw;
}

.line {
  position: absolute;
  background-color: white;
}

.line.top {

  left: 10vw;
  top:21%;
  transform: rotate(20deg);
  height: 0.5px;
  width: 8%;
}

.line.right {
  top: 18%;
  right: 7vw;
  transform: rotate(-20deg);
  height: 0.5px;
  width: 8%;
}

.line.bottom {
  bottom: 18%;
  right: 7vw;
  transform: rotate(20deg);
  height: 0.5px;
  width: 8%;
}

.line.left {
    left: 7.5vw;
    bottom:18%;
    transform: rotate(-20deg);
    height: 0.5px;
    width: 8%;
}
