@import url('./font.css');



.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(5, 82, 83, 1), rgb(30, 7, 91), rgb(38, 7, 84), rgb(10, 36, 65));
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
  overflow: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.site_frame {
  display: grid;
  grid-template-areas:
    'top-left center top-right'
    'space1 center space2'
    'bottom-left center bottom-right';

  grid-template-columns: 0.5fr 70vw 0.5fr; 
  grid-template-rows: 0.5fr 70vh 0.5fr; 
  height: 100vh;
  
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
}

.top-left,
.bottom-left,
.top-right,
.bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
}



.site_words {
  font-family: 'Brulia', sans-serif;
  font-size: 2.5vw; 
  letter-spacing: 0.05vw; 
  -webkit-text-stroke: 0.5px white;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: color 0.3s;
  z-index: 2;
}

.site_words:hover {
  color: #ffffff; /* Change the color on hover */
}





.top-left {
  grid-area: top-left;
  justify-content: flex-start;
  display: flex;
  margin-left: 2vw;
}

.moura_word {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  position: absolute;
  left: 5vw;
  top: 10vh;
}

.top-right {
  grid-area: top-right;
  justify-content: flex-end;
  margin-right: 2vw;
}

.bottom-left {
  grid-area: bottom-left;
  justify-content: flex-start;
  margin-left: 2vw;
}

.bottom-right {
  grid-area: bottom-right;
  justify-content: flex-end;
  margin-right: 2vw;
}

.line {
  position: absolute;
  background-color: white;
  pointer-events: auto;
  z-index: 2;
}

.line.top_left {

  left: 10vw;
  top:20vh;
  transform: rotate(20deg);
  height: 0.5px;
  width: 8%;
}

.line.top_right {
  top: 20vh;
  right: 10vw;
  transform: rotate(-20deg);
  height: 0.5px;
  width: 8%;
}

.line.bottom_right {
  bottom: 20vh;
  right: 10vw;
  transform: rotate(20deg);
  height: 0.5px;
  width: 8%;
}

.line.bottom_left {
    left: 10vw;
    bottom:20vh;
    transform: rotate(-20deg);
    height: 0.5px;
    width: 8%;
}


.welcome-message {
  position: fixed;
  top: 5vh;
  left: 49%;
  font-family: 'Brulia', sans-serif;
  font-size: 5.5vh;
  letter-spacing: 0.05vw;
  -webkit-text-stroke: 0.5px white;
  color: rgba(0, 0, 0, 0);
  transform: translateX(-50%);

  padding: 10px;
 
  
}






@media screen and (max-width: 768px) {


 
    .site_words {
      font-size: 4vw;
    }


  .line {
    height: 0.3px;
    width: 15%;
  }


  .line.top_left,
  .line.top_right,
  .line.bottom_right,
  .line.bottom_left {
    transform: rotate(0deg);
    width: 12%;
  }

  .welcome-message {
    font-size: 3.5vw;
    top: 2vh;
  }
}